table {

}

.header {
   background: #80bfff;
}

.footer {
   background: #888888;
}

p {
	font-family: "Roboto", sans-serif;
	color: black;
	//font-size: 20px;
	font-size:1.1em;
	font-weight: 300;
	text-shadow: none;
}
