@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html {
   height: 100%;
   box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	background: #80bfff;
   min-height: 100%;
   position: relative;
   margin: 0 auto;
   z-index: 1;
}

.container-fluid {
   float: none !important;
   margin: 0 auto !important;
   margin-bottom: 20px;
}

.footer {
   background: #4981ce;
   position: absolute;
   height: 30px;
   width: 100%;
   right: 0;
   left: 0;
   bottom: 0 !important;
}

.footer-text {
   color: white;
   font-size: 1em;
   text-align: center;
}

p {
	font-family: "Roboto", sans-serif;
	color: black;
   word-wrap: break-word;
	font-size:1.1em;
	font-weight: normal;
	text-shadow: none;
}

a {
   font-family: "Roboto", sans-serif;
   display: flex;
}

a:hover {
   text-decoration: none;
}

td:hover{

}

h2, h3 {
	font-family: "Roboto", sans-serif;
	text-shadow: none;
   text-align: center;
}

.blue-text {
   color: #4981ce;
}

.smaller-text {
   text-align: center;
   color: #888888;
	font-size:0.8em;
	font-weight: 300;
}

h1 {
	font-family: "Roboto", sans-serif;
	text-align: center;
	font-size: 2.25em;
	font-weight: 300;
}

.up-voted {
   color: white;
   background: #5cb85c;
}

.down-voted {
   color: white;
   background: #d9534f;
}

.no-vote {
   color: black;
   background: white;
}

Button[id*="upButton"]:hover {
	background-color: green;
	color: white;
}

Button[id*="downButton"]:hover {
	background-color: red;
	color: white;
}

.response-table {
   height: 5%;
   width: 100%;
   border: 1px solid black;
   position: absolute;
   z-index: 4;
   width: 90%;
   max-width: 400px;
}

.user-row {
   background: white;
   color: red;
}

.loader {
   margin: 0 auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.gear-spin {
  -webkit-animation: gearSpin 0.25s linear;
  animation: gearSpin 0.25s linear;
}

#gearOptions {
   display: none;
   background: #4981ce;
   right: 2%;
   max-width: 80px;
   z-index: 3000;
   position: absolute;
}

@-webkit-keyframes gearSpin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(90deg); }
}

@keyframes gearSpin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(90deg); }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.m-b-md {
    margin-bottom: 30px;
}

.navbar {
   background: #4981ce;
   border: 1px solid #4981ce;
}

.navbar-toggle:focus,
.navbar-toggle:hover {
   background-color: transparent !important;
}

.navbar-brand {
   color: white !important;
}

.navbar-toggle {
   color: white !important;
   border-style: none !important;
}

.navbar-nav > li {
   font-size: 20px;
   text-align: center;
}

.link {
   color: white !important;
}

.logOutLink {
   color: white !important;
}

.all_inputs {
   margin: 0 auto !important;
}

.txtpadding {
	display: inline-block;
	text-align: center;
	background-color: #888888;
	color: white;
	border-radius: 7px;
}

.divider {
	border: 1px solid #4981ce;
}

.header-divider {
   border: 1px solid #4981ce;
   max-width: 400px;
   width: 90%;
   margin: 0 auto;
}

.inside-div-divider {
   border: 0.5px solid #888888;
   width: 80%;
   margin: 0 auto;
}

.userInfo {
   text-align: center;
   background: #80bfff;
}

#pAsk {
   text-align: center !important;
}

.quesDiv {
   /*max-width: 400px*/
   text-align: center;
   background: #80bfff;
   /*margin: 0 auto;*/
}

.divLeft {
   margin: 0 auto;
   max-width: 400px;
   text-align: center;
}

.divCenter {
   margin: 0 auto;
   max-width: 400px;
   text-align: center;
}

.answerDiv {
	margin: 0 auto;
	border: 1px solid white;
	border-color: white;
	text-align: center;
	background-color: white;
	max-width: 400px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	padding-top: 10px;
   -webkit-transition: all .2s ease-in;
   -moz-transition: all .2s ease-in;
   -o-transition: all .2s ease-in;
   -ms-transition: all .2s ease-in;
   transition: all .2s ease-in;
}

.commentDiv {
	margin: 0 auto;
	border: 1px solid white;
	border-color: white;
	text-align: left;
	background-color: white;
	max-width: 400px;
   padding: 10px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.descDiv {
   margin: 0 auto;
	border: 1px solid white;
	border-color: white;
	text-align: right;
	background-color: white;
	max-width: 400px;
   padding: 10px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#editDescId {
   float: right;
}

.rateDiv {
	margin: 0 auto;
	border: 1px solid white;
	border-color: white;
	text-align: center;
   word-wrap: break-word;
	background-color: white;
   width: 90%;
	max-width: 400px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	padding: 10px;
}

.rateProfileDiv {
	margin: 0 auto;
	border: 1px solid white;
	border-color: white;
	text-align: center;
   word-wrap: break-word;
	background-color: white;
	max-width: 400px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	padding: 10px;
}

.answer-text {
   /*max-width: 90%;*/
   width: 90%;
   margin: 0 auto;
}

.answer-status {
   padding-top: 5px;
   visibility: hidden;
}

.rate-status {
   padding-top: 10px;
   visibility: hidden;
}

#editDescStatus {
   padding-top: 5px;
   visibility: hidden;
   font-family: "Roboto", sans-serif;
}

#nD {
   width: 90%;
}

#comStatus {
   padding-top: 5px;
   visibility: hidden;
   font-family: "Roboto", sans-serif;
}

#editCommentStatus {
   padding-top: 5px;
   visibility: hidden;
   font-family: "Roboto", sans-serif;
}

.divRight {
   margin: 0 auto;
   max-width: 400px;
}

.profImg {
   margin: 0 auto;
   border-radius: 50%;
   width: 100%;
   max-width: 100%;
   max-height: 100%;
 }

.iconImg {
   border-radius: 50%;
   max-width: 100%;
   max-height: 100%;
}

.icon-container {
   max-width: 25px;
   max-height: 25px;
   margin-bottom: 10px;
}

.statsDiv {
	/*display: block;*/
   border: 1px solid white;
   border-color: white;
	text-align: center;
	background-color: white;
	/*max-width: 400px; */
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   padding: 10px;
}

.searchDiv {
   margin: 0 auto;
	text-align: center;
	width: 90%;
	max-width: 400px;
}

.textRight {
   float: right;
}

.rightText {
	text-align: left;
}

.userThumb {
   width: 100px;
   height: 100px;
   float: left;
}

.userDiv {
   max-width: 400px;
   width: 90%;
   height: 20%;
   margin: 0 auto;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   background-color: white;
   font-family: "Roboto", sans-serif;
   position: relative;
   animation: slideIn 0.5s;
   -webkit-animation: slideIn 0.5s;
}

@keyframes slideIn {
   from {right: -400px;}
   to {right: 0px;}
}

@-webkit-@keyframes slideIn {
   from {right: -400px;}
   to {right: 0px;}s
}

@keyframes slideOut {
   from {left: 0px;}
   to {right: 400px;}
}

@-webkit-@@keyframes slideOut {
   from {left: 0px;}
   to {right: 400px;}s
}

.all_buttons {
   border:none !important;
   border-radius: 25px !important;
   background-color: black !important;
   color: white !important;
   text-shadow: none !important;
}

.clicked-green {
   color: white;
   background: green;
}

.clicked-red {
   color: white;
   background: red;
}

@media only screen and (min-width: 768px) {

   p {
   	font-family: "Roboto", sans-serif;
   	color: black;
      word-wrap: break-word;
   	font-size:1em;
   	font-weight: normal;
   	text-shadow: none;
   }

   .logOutLink {
      display: inline;
      float: right;
      color: white;
   }

   .divLeft {
      margin: 0 auto;
      max-width: 70%;
   }

   .divRight {
      margin: 0 auto;
      max-width: 70%;
   }

   .answerDiv {
      margin: 0 auto;
      border: 1px solid white;
      border-color: white;
      text-align: center;
      background-color: white;
      max-width: 400px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      padding-top: 10px;
      -webkit-transition: all .2s ease-in;
      -moz-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      -ms-transition: all .2s ease-in;
      transition: all .2s ease-in;
   }

   .rateDiv, .rateProfileDiv {
      margin: 0 auto;
   	border: 1px solid white;
   	border-color: white;
   	text-align: center;
   	background-color: white;
      width: 90%;
   	max-width: 400px;
   	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   	padding: 10px;
   }

   .descDiv {
      margin: 0 auto;
   	border: 1px solid white;
   	border-color: white;
   	text-align: right;
   	background-color: white;
   	max-width: 400px;
      padding: 10px;
   	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   }

   .commentDiv {
   	margin: 0 auto;
   	border: 1px solid white;
   	border-color: white;
   	text-align: left;
   	background-color: white;
   	max-width: 400px;
      padding: 10px;
   	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   }

   .lefty {
      left: -5%;
   }

   .righty {
      right: -5%;
   }

   .comment-wrapper {
      height: 500px;
      overflow-y: auto;
   }

}

#name_error {
	background: #F3A6A6;
}

#incorrect_error {
	background: #F3A6A6;
}

#password_error {
	background: #F3A6A6;
}

#passConfirm_error {
	background: #F3A6A6;
}

#email_error {
	background: #F3A6A6;
}

#question_status {
   margin: 0 auto;
   padding: 10px 20px;
   border: 0;
   display: inline-block;
   margin-top: 20px;
	color: white;
	text-shadow: none;
	box-sizing: border-box;
   font-family: "Roboto", sans-serif;
   font-size: 25px;
	font-weight: 300;
   width: 90%;
   max-width: 400px;
}

.ajax_server{
	text-align: center;
   background: #FFA500;
	padding: 10px 20px;
   border: 0;
   display: inline-block;
   margin-top: 20px;
   cursor: pointer;
   display:none;
	color: white;
   max-width: 400px;
}

.answer_status{
	text-align: center;
   background: #F3A6A6;
	padding: 10px 20px;
   /*display: block;*/
   visibility: hidden;
   /*margin-top: 20px;
	display:none; */
	color: white;
   max-width: 400px;
}

.ajax_success{
	text-align: center;
   background: #CCF5CC;
	padding: 10px 20px;
   border: 0;
   display: inline-block;
   margin-top: 20px;
   cursor: pointer;
	display:none;
	color: white;
   max-width: 400px;
}

#log_header {

  background-color: black;
  border: 1px solid #b7b7b7;
  width: 100% !important;
}

#stepHeader {
	border-radius: 10px;
	background-color: #F0F0F0;
	padding-left: 2%;
	padding-right: 2%;
	overflow: hidden;
   text-align: center;
   margin: 0 auto !important;

}

#askDiv {
	width: 90% !important;
   max-height: 300 px;
	max-width: 400px !important;
   min-width: 288px;
	display: inline-block !important;
	text-align: center !important;
	padding-bottom: 15px !important;
	background: #F0F0F0 !important;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24) !important;

}

#frmDemo {
   display: inline-block !important;
   //text-align: center !important;
}

#frmDemo > .content {
	min-height: 100px;
	background: #F0F0F0 !important;
  /*display: inline-block;
	text-align: center;	*/
}

.wizard > .actions {
   padding-top: 10px;
}

.wizard > .content > .body {
   float: none;
   margin-left: 7px;
}

#frmDemo .content > .body input{
	width: 100%;
	margin: 0 auto;
   margin-bottom: 30px;
   font-size: 16px;
}

#frmDemo > .steps {
	display: none;
	text-shadow: none;
}

#frmDemo > .actions a {
	border-radius: 5px !important;
	color: white !important;
  display: inline-block;
	text-align: center !important;
	 //width: 80%; !important;
   max-width: 5.5em !important;
   font-family: "Roboto", sans-serif;
   font-size: 20px;
   font-weight: 300;
}

#frmDemo > .actions > ul > li:first-child,
#frmDemo > .actions > ul > li:first-child.active {
	/*border: 1px solid red !important; */
   border-radius: 5px !important;
   border-top: 5px !important;
   background: #d9534f !important;
   color: white !important;
   margin-right: 25px;
   display: inline-block;
   text-align: center !important;
}

#frmDemo > .actions > ul > li:nth-child(2) {
	/*border: 1px solid blue !important; */
	border-radius: 5px !important;
   border-top: 5px !important;
	background: #4981ce !important;
	color: white !important;
   margin-left: 25px;
   display: inline-block;
}

#frmDemo > .actions .disabled a {
   background: #888888;
	 /*display: inline-block;
	 text-align: center; */
}

#frmDemo > .actions > ul > li:last-child {
	/*border: 1px solid green !important; */
   background: #5cb85c !important;
   border-radius: 5px !important;
   border-top: 5px !important;
   text-align: center !important;
   margin-left: 25px;
   display: inline-block;

}

#frmDemo > .number {
	display: none;
}
