@import url(https://fonts.googleapis.com/css?family=Roboto:300);

#pAsk {
   text-align: center !important;
}

body {
	padding-top: 70px;
	background: #80bfff;
}

p {
	font-family: "Roboto", sans-serif;
	color: black;
	//font-size: 20px;
	font-size:1.1em;
	font-weight: 300;
	text-shadow: none;
}

a {
   font-family: "Roboto", sans-serif;
}

h2 {
	font-family: "Roboto", sans-serif;
	color: #888888;
	text-shadow: none;
}

h1 {
	font-family: "Roboto", sans-serif;
	text-align: center;
	font-size: 2.25em;
	font-weight: 300;
}

Button[id*="upButton"]:hover {
	background-color: green;
	color: white;
}



Button[id*="downButton"]:hover {
	background-color: red;
	color: white;
}


.m-b-md {
    margin-bottom: 30px;
}

.navbar-brand {
   color: white !important;
}

.navbar-toggle {
   color: white !important
}

.navbar-nav > li {
	//display: inline-block;
   font-size: 20px;
   text-align: center;
}

.link1 {
   background-color: #003300;
   color: white !important;
}

.link2 {
   background-color: #003366;
   color: white !important;
}

.link3 {
   background-color: #ff0000;
   color: white !important;
}

.link4 {
   background-color: #400080;
   color: white !important;
}

.link5 {
	background-color: ##802b00;
	color: white !important;
	width: 100%;
}

.txtpadding {
	display: inline-block;
	text-align: center;
	background-color: #888888;
	color: white;
	border-radius: 7px;
}

#dPage {
	background: white !important;
}

.wrapper {
  text-align: center;
  margin: 0 auto;
  overflow:hidden;
  margin: 0 auto;
}

.wrapper div {
   min-height: 200px;
   padding: 10px;
   max-width: 400px;
}

.divider {
	border: 1px solid #888888;
}

.ansDivider {
	border: 1px solid black;
}

.userInfo {
   text-align: center;
   background: #80bfff;
}

.quesDiv {
   text-align: center;
   background: #80bfff;
}

@media screen and (max-width: 400px) {
   .userInfo {
      float: none;
      margin-right:0;
      width:auto;

   }
}

.imgDiv {
   border-radius: 50%;
   max-width: 100%;
   text-align: center;
 }

.statsDiv {
	display: inline-block;
	border: 1px solid white;
	text-align: center;
	background-color: #e4e4e4;
	/*width: 90%; */
	max-width: 400px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	padding: 10px;
}

.searchDiv {
	display: inline-block;
	text-align: center;
	width: 90%;
	max-width: 400px;
}

.answerDiv {
	display: inline-block;
	border: 1px solid white;
	border-color: white;
	text-align: center;
	background-color: white;
   width: 90%;
	max-width: 400px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	padding: 10px;
}

.textRight {
   float: right;
}

.rightText {
	text-align: left;
}

.userThumb {
   width: 100px;
   height: 100px;
   float: left;
}

.userDiv {
   display: inline-block;
   max-width: 500px;
   width: 100%;
   height: 20%;
   //border: 1px solid black;
   //border-color: black;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   background-color: white;
   font-family: "Roboto", sans-serif;

}

.rateDiv {
	display: inline-block;
	border: 1px solid white;
	border-color: white;
	text-align: center;
	background-color: white;
  width: 90%;
	max-width: 400px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	padding: 10px;
	//padding-bottom: 10px;
}

.all_buttons {
   border:none !important;
   border-radius: 25px !important;
   background-color: black !important;
   color: white !important;
   text-shadow: none !important;
}

#error_message {
   background: #F3A6A6;
}

#name_error {
	background: #F3A6A6;
}

#incorrect_error {
	background: #F3A6A6;
}

#password_error {
	background: #F3A6A6;
}

#passConfirm_error {
	background: #F3A6A6;
}

#email_error {
	background: #F3A6A6;
}

#success_message{
    background: #CCF5CC;
}

.ajax_response {
   padding: 10px 20px;
   border: 0;
   display: inline-block;
   margin-top: 20px;
   cursor: pointer;
	display:none;
	color: white;
	text-shadow: none;
	box-sizing: border-box;
	border-radius: 7px:
   font-family: "Roboto", sans-serif;
   font-size: 25px;
	font-weight: 300
}

.ajax_server{
	text-align: center;
    background: #FFA500;
	padding: 10px 20px;
    border: 0;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
	display:none;
	color: white;
}

.ajax_failure{
	text-align: center;
    background: #F3A6A6;
	padding: 10px 20px;
    border: 0;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
	display:none;
	color: white;
}

.ajax_success{
	text-align: center;
    background: #CCF5CC;
	padding: 10px 20px;
    border: 0;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
	display:none;
	color: white;
}

#log_header {

  background-color: black;
  border: 1px solid #b7b7b7;
  width: 100% !important;
}

#stepHeader {
	border-radius: 10px;
	background-color: #F0F0F0;
	padding-left: 2%;
	padding-right: 2%;
	overflow: hidden;
   text-align: center;

}

#askDiv {
	width: 90% !important;
	max-width: 400px !important;
	display: inline-block !important;
	text-align: center !important;
	//box-shadow: 2px 2px 2px #888888 !important;
	padding-bottom: 5% !important;
	background: #F0F0F0 !important;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24) !important;

}

#frmDemo {
   display: inline-block !important;
   //text-align: center !important;
}

#frmDemo > .content {
	min-height: 100px;
	background: #F0F0F0 !important;
  /*display: inline-block;
	text-align: center;	*/
}

#frmDemo > .content > .body {
	//display: inline-block;
	height: auto;
  text-align: center !important;
}

#frmDemo > .content > .body input{

	width: 100%;
   //text-align: center;
	//display: inline-block;
	//margin: 0 auto;
   margin-bottom: 30px;
   font-size: 16px;
}

#frmDemo > .steps {
	display: none;
	text-shadow: none;
}

#frmDemo > .actions a {
	border-radius: 5px !important;
	color: white !important;
  display: inline-block;
	text-align: center !important;
	 //width: 80%; !important;
   max-width: 5.5em !important;
   font-family: "Roboto", sans-serif;
   font-size: 20px;
   font-weight: 300;
}

#frmDemo > .actions > ul > li:first-child,
#frmDemo > .actions > ul > li:first-child.active {
	/*border: 1px solid red !important; */
   border-radius: 5px !important;
   border-top: 5px !important;
   background: #ff6666 !important;
   color: white !important;
   margin-right: 25px;
   display: inline-block;
   text-align: center !important;
}

#frmDemo > .actions > ul > li:nth-child(2) {
	/*border: 1px solid blue !important; */
	border-radius: 5px !important;
   border-top: 5px !important;
	background: #4981ce !important;
	color: white !important;
   margin-left: 25px;
   display: inline-block;
}

#frmDemo > .actions .disabled a {
   background: #888888;
	 /*display: inline-block;
	 text-align: center; */
}

#frmDemo > .actions > ul > li:last-child {
	/*border: 1px solid green !important; */
   background: #00ff55 !important;
   border-radius: 5px !important;
   border-top: 5px !important;
   text-align: center !important;
   margin-left: 25px;
   display: inline-block;

}

#frmDemo > .number {
	display: none;
}
